<h1>{{title}}</h1>

{{#if adoptions}}
    <ul>
        {{#each adoptions}}
            <li>
                <strong>Owner:</strong> {{this.owner.first_name}} {{this.owner.last_name}} | 
                <strong>Pet:</strong> {{this.pet.name}} | 
                <strong>Adopted At:</strong> {{this.adoptedAt}}
            </li>
        {{/each}}
    </ul>
{{else}}
    <p>No adoptions found.</p>
{{/if}}

<a href="/">Back to Home</a>