<h1>Profile</h1>
{{#if user}}
    <p><strong>Name:</strong> {{user.first_name}} {{user.last_name}}</p>
    <p><strong>Email:</strong> {{user.email}}</p>
    <p><strong>Role:</strong> {{user.role}}</p>
    <a href="/logout">Logout</a>
{{else}}
    <p>You are not logged in.</p>
    <a href="/login">Login</a>
{{/if}}